@using Bank_Insuarance.Models
@using Bank_Insurance.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="MiddleUl2">
    <li class="MiddleLi2 Bar"><a class="Middleactive2 @ManageNavPages.ShowPersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./ShowPersonalData">Show Personal Data</a></li>
    <li class="MiddleLi2 Bar"><a class="Middleactive2 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Add Phone Number</a></li>
    <li class="MiddleLi2 Bar"><a class="Middleactive2 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="MiddleLi2 Bar"><a class="Middleactive2 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    @* <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
    <li class="MiddleLi2 Bar"><a class="Middleactive2 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
