@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@using Bank_Insuarance.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<BranchViewModel>

<head>

    <link rel="stylesheet" href="~/css/AddBranchStyle.css">
    <link rel="stylesheet" href="~/css/PopUpStyle.css">
    <script src="~/js/EditZoneScript.js"></script>

    <title>Branch</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <ul class="TopUl" id="HUI">
                    <li class="TopLi Li_1"><a class="active" href="#">Branch/<label class="Blue">Setting</label></a></li>

                    <li class="TopLi Li_2"><a class="active" href="#"><img src="~/images/Line.png" class="searchWhite_img"></a></li>
                    <li class="TopLi Li_3">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);


                            <a class="active">@user.FullName!</a>


                            
                        }
                    </li>
                    <li class="TopLi Li_4"><a class="active" href="#"><img src="~/images/account_circle.png" class="account_circle" onclick="togglePopup()"></a></li>

                </ul>





            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">

                    <ul class="LeftUl">
                       
                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a class="active white" id="BranchButton">
                                <img src="~/images/Branch_png.png" class="Branch_png">Branch
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-controller="Zone" asp-action="Zone" class="active" id="ZoneButton">
                                <img src="~/images/ZoneWhite.png" class="Zone_png">Zone
                            </a>
                        </li>

                        

                        <li class="LeftLi">
                            <a class="active" id="logoutButton">
                                <img src="~/images/logout2.png" class="logout2_png">Log out
                            </a>
                        </li>



                    </ul>
                    <div id="confirmationModalLogOut" class="modal">
                        <div class="modal-content">

                            <p>Are you sure you want to Log out?</p>
                            <div class="LogoutButton_Div">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="PopUpLogOutYes" id="confirmLogOut">Yes</button>
                                    </form>


                                }
                                else
                                {

                                }

                                <button class="PopUpLogOutNo" type="button" id="cancelLogOut">No</button>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="type_div">



                    <div class="Flex_div2">
                        <div class="Flex_div2_line1">
                            <label class="Zone_label" id="Topic">Branch</label>

                        </div>
                        <div class="ZoneInfo_div">
                            <div class="MiddleNav_div">
                                <div class="Middlenavigation" id="Leftnav">

                                    <ul class="MiddleUl">


                                        <li class="MiddleLi Bar">
                                            <a class="Middleactive PinBlue" onclick="" id="">
                                                <img src="~/images/BranchBlue.png" class="Basic_png">Basic Information
                                            </a>
                                        </li>

                                        

                                        <li class="MiddleLi Bar">
                                            <a asp-controller="Branch" asp-action="AddBranch" class="Middleactive" onclick="" id="">
                                                <img src="~/images/AddZone.png" class="AddZone_png">Add Branch
                                            </a>
                                        </li>



                                    </ul>

                                </div>

                            </div>

                            <div class="MiddleContent_div">

                                <div class="BasicInformationTopic_div"><label class="BasicInformation_label">Basic Information</label></div>

                                <div class="BasicInformation_div">

                                    <div class="tablediv">



                                        <table class="table" id="myTable">
                                            <thead>
                                                <tr>


                                                    <th class="Col01">Branch ID</th>
                                                    <th class="Col02">Branch Name</th>
                                                    <th class="Col03">City</th>
                                                    <th class="Col04">Phone Number</th>
                                                    <th class="Col05">Address</th>
                                                    <th class="Col06">Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {


                                                    @foreach (var branch in Model)
                                                    {
                                                        <tr>
                                                            <td scope="row">@branch.BranchId</td>
                                                            <td scope="row"><a class="btn btn-dark" asp-action="EditBranch" asp-controller="Branch" asp-route-id="@branch.BranchId">@branch.Branch_name</a></td>
                                                            <td scope="row">@branch.City</td>
                                                            <td scope="row">@branch.TpNo</td>
                                                            <td scope="row">@branch.Address</td>
                                                            <td scope="row"><a class="btn btn-dark" asp-action="EditBranch" asp-controller="Branch" asp-route-id="@branch.BranchId"><button class="BranchEdit" type="button">Edit</button></a></td>

                                                            
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                                

                            </div>








                        </div>

                    </div>
                    
                </div>
            </div>

        </div>

       
</body>
<script>
    
    document.getElementById("logoutButton").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "block";
    });

    document.getElementById("cancelLogOut").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });

    document.getElementById("confirmLogOut").addEventListener("click", function () {
        
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });
</script>